.navbar{
	background-color: #178d8c;
	color: white;
	margin-bottom: 0px !important;
}
.nav1{
	overflow: hidden;
}
.nav2{
	display: inline;
	float: right;
	padding: 10px;
    font-size: 18px;
    color: white;
}
.nav2:hover{
    color: black;
}
li:hover{
	color: black;
	
}
#webpic{
	width: 400px;
	height: auto;
}
#name{
	position: absolute;
	font-size: 30px;
    cursor: pointer;
}
/*.img1{
position: fixed;
height: 100vh;
}*/
.wallpaper{
height: 100%;
  background-repeat: no-repeat;
        
         background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.heading{
	text-align: center;
	margin-top: 0px;
	padding-top: 120px;
}
.hire{
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    margin-top: 10px;
    background-color: #1e2938;
    color: white;
    margin-bottom: 30px;
}
.hire a{
    color: white;
}
.hire a:hover{
    text-decoration: none;
    color: white;
    
}
.hire:hover{
/*	background-color: white;
	color: #1e2938 !important;*/
	/*padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    margin-top: 10px;*/
}
h1{
	font-family: 'Courgette', cursive;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.service{
	text-align: center;
	margin-top: 0px;
	padding-top: 50px;
	color: white;
    font-family: 'Courgette', cursive;

}

.icons{
    font-size: 30px;
    padding-bottom: 70px;
    padding-top: 30px;
    color: #178d8c;
}
.barder1:hover{
  background-color:red !important;  
}
.border1{
    border: solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skill:hover{
    color: white;
   cursor: pointer;
  /* background-color:#178d8c; */

}
i{
    margin-left: 60px !important;
}
#panel, #flip {
    padding: 5px;
   /* text-align: center;*/
    background-color: white;
    border: solid 2px #178d8c;
cursor: pointer;
}

#flip{
    padding: 30px;
    font-size: 24px;
    color: #178d8c;
    text-align: center;

}

#panel {
    padding: 50px;
    text-align: left;
    display: none;
    background-color: #1e2938;
    color: white;
    
}
#flip1{
    padding: 30px;
    font-size: 24px;
    color: #178d8c;
    text-align: center;
     border: solid 2px #178d8c;
cursor: pointer;

}

#panel1 {
    padding: 50px;
    text-align: left; border: solid 2px #178d8c;
cursor: pointer;
display: none;
background-color: #1e2938;
color: white;
    
}
h6{
    color: white !important;
}
ul{
    list-style: none;
}
a .imp{
    padding-left: 15px;
    font-size: 16px;
    color: white !important;
  
}
.link{
    color: white !important; 
}
input{
    padding: 12px;
      background-color: #ebedef;
      border: none;
      color:  red;
}
textarea{
        min-height: 200px;
    width: 98% !important;
    margin-bottom: 20px;
    margin-top: 20px !important;
    padding-left: 20px;
    background-color: #ebedef;
}

.connect-social ul  /*a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: 300px;
    color: #999;
    border: 1px solid #999;
    line-height: 2.4em;
    border-radius: 50%;
    text-align: center; }*/
    {
        overflow: hidden;
    }
    .connect-social li{
        display: inline-block;
    }
i .social{
font-size: 37px !important;
    border: 1px solid red !important;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
}

.social-button{
    color: white;
    border-radius: 1px solid blue;

}
h5{
    text-align: center;
    color: white !important;
    font-size: 15px !important;
    padding-bottom: 15px;
}
/*.fa{
    color: white !important;
}
*/









